trigger:
- develop

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '9.0.x'

- script: dotnet restore src/WebApplication1/WebApplication1.sln
  displayName: 'Restore'

- script: dotnet build src/WebApplication1/WebApplication1.sln --configuration $(buildConfiguration)
  displayName: 'Build'

- script: dotnet publish src/WebApplication1/WebApplication1.sln \
    --configuration $(buildConfiguration) \
    --output $(Build.ArtifactStagingDirectory)
  displayName: 'Publish'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
