trigger:
- develop

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
# Install .NET 9 SDK
- task: UseDotNet@2
  displayName: 'Install .NET 9 SDK'
  inputs:
    packageType: 'sdk'
    version: '9.0.x'

# Restore NuGet packages
- script: dotnet restore
  displayName: 'Restore packages'

# Build project
- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: 'Build project'

# Publish project
- script: dotnet publish \
    --configuration $(buildConfiguration) \
    --output $(Build.ArtifactStagingDirectory)
  displayName: 'Publish project'

# Publish artifact
- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
